*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(pink,violet);
    height: 100vh;
    color: fuchsia;
    font-family: 'Arial';
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: pink;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: antiquewhite;
    border: none;
    color: fuchsia;
}
.botao:hover{
    background-color: lightpink;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: violet;
    text-align: right;
    padding: 5px;
}